<%= form_for [current_user.id, rant, @comment] do |f| %>
    <% f.object.errors.full_messages.each do |error| %>
      <div class="errors"><%= error %></div>
    <% end %>
    <div><%= f.label :comment, "A rant about:" %></div>
    <%= f.text_field :comment, autofocus: true %>
    <%= f.submit "COMMENT" %>
  <% end %>
