<h1> Latest Rants</h1>
<hr>

<%= render partial: 'rants/user_rant' %>

<h1>My Rants</h1>

<%= image_tag current_user.avatar.url(:thumb), class: 'kittens' %>
<%= render current_user.rants %>


<% if mentioned_rants(current_user).any? %>
  <h1>Mentioned</h1>
  <div class="rant_blurb">
    <div class="photo">
      <% @mentioned.each do |rant| %>
        <%= link_to rant.user.username %>
        <%= image_tag rant.user.avatar.url(:thumb), class: 'kittens' %>
        <%= rant.rant %>
        </div>
        </div>
      <% end %>
<% end %>

