<div class="container">
<div class="login_form">
  <h2>Login</h2>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_for @user, url: signin_path do |f| %>
    <div class="input"><%= f.label :username %></div>
    <div class="input"><%= f.text_field :username, autofocus: true %></div>
    <div class="input"><%= f.label :password %></div>
    <div class="input"><%= f.password_field :password, autofocus: true %></div>
    <hr>
    <div class="input"><%= f.submit "LOGIN", :class => 'login_button' %></div>
  <% end %>
</div>
</div>