<h1>Rants</h1>
<div class="spam_links">
  <%= link_to "All", admins_rants_path %>
  <%= link_to "Spam", admins_spam_path %>
</div>

<%= form_tag admin_rants_path do %>
  <%= text_field_tag :start_date, params[:start_date] %>
  <span>To</span>
  <%= text_field_tag :end_date, params[:end_date] %>
  <%= submit_tag 'Filter', class: 'button' %>
<% end %>

<br/>
<table class="users-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @rants.each do |rant| %>
    <tr>
      <td><%= "#{rant.user.firstname} #{rant.user.lastname}" %></td>
      <td><%= rant.user.username %></td>
      <td><%= rant.user.email %></td>
      <td><%= rant.about %></td>
      <td><%= link_to "View" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
