<h1>Search</h1>
<hr>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<% @rants.each do |rant| %>
       <%= rant.about %>:</dt>
       <%= markdown(rant.rant) %></dt>
<% end %>

<





<%= link_to "Read More" %>