<div class="registration_container">
<%= form_for @user, :html => {class: 'registration'}, url: user_path do |f| %>
    <% f.object.errors.full_messages.each do |error| %>
      <div class="errors"><%= error %></div>
    <% end %>
    <h1>Edit your Profile</h1>
    <div class="input">
      <%= f.label :username, class: 'fields' %>
      <%= f.label :password, class: 'fields' %></div>
    <div class="input">
      <%= f.text_field :username, autofocus: true, class: 'fields' %>
      <%= f.password_field :password, autofocus: true, class: 'fields' %></div>
    <div class="input">
      <%= f.label :firstname, class: 'fields' %>
      <%= f.label :lastname, class: 'fields' %></div>
    <div class="input">
      <%= f.text_field :firstname, autofocus: true, class: 'fields' %>
      <%= f.text_field :lastname, autofocus: true, class: 'fields' %></div>
    <div class="input"><%= f.label :bio %></div>
    <div class="input"><%= f.text_field :bio, autofocus: true, :class => 'textbox' %></div>
    <hr>
    <p>How often do you rant?</p>
    <div class="frequency">
      <%= f.radio_button(:frequency, 'Daily') %>
      <%= f.label(:frequency_daily, 'Daily') %>

      <%= f.radio_button(:frequency, 'Weekly') %>
      <%= f.label(:frequency_weekly, 'Weekly') %>

      <%= f.radio_button(:frequency, 'Monthly') %>
      <%= f.label(:frequency_monthly, 'Monthly') %>
      <%= f.file_field :avatar, multiple: true %>

      <%= f.submit "Edit", :class => 'register_button' %>

  <% end %>
  </div>
</div>
</div>