<%= @user.firstname %> <%= @user.lastname %>
<hr>
<%= image_tag @user.url %>
<%= @user.bio %>
<% @user.rants.each do |rant| %>
  <%= rant.rant %>
  <div><%= link_to "Favorite" %></div>
<% end %>
<% unless check_follow(@user) %>
  <%= link_to "Follow", user_follows_path(@user), method: :post %>
<% else %>
  <%= link_to "Unfollow", user_follow_path(user_id: @user, id: @follow), method: :delete %>
<% end %>


<!--user_follows_path(user)-->
<!--follow_path(@follow)-->