<header>
  <aside class="logo"><%= link_to "Rant.ly", root_path %></aside>
  <main class="links">
  </main>
  <nav class="join">
    <%= link_to "Dashboard" %> <%= link_to "Following", users_path %> <%= link_to "Favorites" %> <%= link_to "Search" %>
    <%= link_to 'Login', signin_path, :class => "button", :method => :get %>
    <%= link_to "Logout".html_safe, signout_path, :class => "green" %>
  </nav>
</header>
<%= User.find(params[:id]).firstname %> <%= User.find(params[:id]).lastname %>
<div class="user">
  <br>

  <h1 style="position: relative; left: 2.6em"></h1>
  <%= image_tag current_user.url %>
  <ul>
    <%= render 'form' %>
  </ul>
</div>

