<%= @user.firstname %> <%= @user.lastname %>
<hr>
<%= image_tag @user.url %>
<% @user.rants.each do |rant| %>
  <%= rant.rant %>
  <div><%= link_to "Favorite" %></div>
<% end %>
<% if follow %>
  <%= link_to "Follow", :method => :post %>
<% else %>
  <%= link_to "Unfollow", :method => :delete %>
<% end %>
