<body class="grey">
<br>
<%= form_for @user, :html => {class: 'registration'}, url: registrations_path do |f| %>
  <h1 style="padding-left: 1.2em">Register</h1>
  <ul class="new_person">
    <li style="float: left; margin-right: 20px;"><%= f.label :username %>
      <%= f.text_field :username, autofocus: true %>
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true %></li>
    <br>
    <li style="float: left; margin-right: 20px;"><%= f.label :firstname %>
      <%= f.text_field :firstname, autofocus: true %>
      <%= f.label :lastname %>
      <%= f.text_field :lastname, autofocus: true %></li>
    <br>
   <br>
    <li style="float: left; margin-right: 20px;"><%= f.label :bio %>
      <%= f.text_field :bio, autofocus: true, :class => 'textbox' %></li>
    <br><br>
    <br><br>
    <br>
    <div>
    <p>How often do you rant?</p>
    <label class="radio">
      <%= hidden_field_tag :daily, 'false' %>
      <input type="radio" name="optionsRadios" id="daily" value="true" checked>
      Daily
    </label>

    <label class="radio">
      <%= hidden_field_tag :weekly, 'false' %>
      <input type="radio" name="optionsRadios" id="weekly" value="true">
      Weekly
    </label>

    <label class="radio">
      <%= hidden_field_tag :monthly, 'false' %>
      <input type="radio" name="optionsRadios" id="monthly" value="true">
      Monthly
    </label>
    <br>
    <br>
    <%= f.submit "REGISTER", :class => 'register_button' %>
      </div>
  </ul>

<% end %>

