<div class="rants">
  <div style ="display: inline-block"><%= image_tag current_user.avatar.url(:thumb), class: 'avatar' %></div>
  <%= form_for [@user, @rant] do |f| %>
    <% f.object.errors.full_messages.each do |error| %>
      <div class="errors"><%= error %></div>
    <% end %>

   <div><%= link_to current_user.username, edit_user_path(current_user), :class => "userlink" %></div>
    <hr>
    <div><%= f.label :about, "A rant about:" %></div>
    <%= f.text_field :about, autofocus: true, :class => 'littlerantbox' %>
    <div><%= f.label :rant, "Rant:" %></div>
    <%= f.text_field :rant, autofocus: true, :class => 'rantbox' %>
    <%= f.submit "RANT", :class => "bigger_green" %>
  <% end %>
 </div>
