<header>
  <aside class="logo"><%= link_to "Rant.ly", root_path %></aside>
  <main class="links">
  </main>
  <nav class="join">
    <%= link_to 'Login', signin_path, :class => "button", :method => :get %>
    <%= link_to "Logout".html_safe, signout_path, :class => "green" %>
  </nav>
</header>

<%= link_to "Dashboard" %> <%= link_to "Following" %> <%= link_to "Favorites" %>  <%= link_to "Search" %>

<h1>Welcome, <%= link_to current_user.username, edit_user_path(@users), :class => "userlink" %> </h1>

<h1>Latest Rants</h1>

<%= image_tag current_user.url %>
<ul>
  <%= form_for @rants, url: user_rants_path(@users) do |f| %>
    <li><%= f.label :about, "A rant about:" %></li>
    <li><%= f.text_field :about, autofocus: true %></li>
    <br style="line-height:20px">
    <li><%= f.label :rant, "Rant:" %></li>
    <li><%= f.text_field :rant, autofocus: true %></li>
    <br>
    <li><%= f.submit "RANT", :class => "bigger_green" %></li>
  <% end %>
</ul>
<ul>
  <h1> My Rants </h1>
  <% @rant.each do |rant| %>
    <li><%= rant.about %></li>
    <li><%= rant.rant %></li> <%= link_to "Delete", user_rant_path(rant.user_id, rant.id), :class => "delete", :method => :delete %>
  <% end %>
</ul>
