<%= @user.firstname %> <%= @user.lastname %>
<hr>
<%= image_tag @user.url %>
<% User.find(params[:user_id]).rants.each do |rant| %>
  <%= rant.rant %>
  <div><%= link_to "Favorite" %></div>
<% end %>


