<header>
  <aside class="logo"><%= link_to "Rant.ly", root_path %></aside>
  <main class="links">
  </main>
  <nav class="join">
    <%= link_to "Dashboard" %> <%= link_to "Following", users_path %> <%= link_to "Favorites" %> <%= link_to "Search" %>
    <%= link_to 'Login', signin_path, :class => "button", :method => :get %>
    <%= link_to "Logout".html_safe, signout_path, :class => "green" %>
  </nav>
</header>

<div class="user">
  <br>

  <h1 style="position: relative; left: 2.6em"><%= link_to current_user.username, edit_user_path(@users), :class => "userlink" %></h1>
  <%= image_tag current_user.url %>
  <ul>
    <%= render 'form' %>
  </ul>
</div>
<div class=rant_dashboard>
  <h1 style="position: relative; right: 10em">Latest Rants</h1>
  <% @user.each do |user| %>
    <%= link_to user.firstname, user_path(@users), :class => "link" %>
  <% end %>
  <% link_to "Follow", users_path, :class => "delete" %>
  <% @rant.each do |rant| %>
    <li><%= link_to rant.rant, user_rants_path, :class => "link" %></li> <%= link_to "Delete", user_rant_path(rant.user_id, rant.id), :class => "delete", :method => :delete %>
  <% end %>
  <h1 style="position: relative; right: 10em"> My Rants </h1>
  <% @rant.each do |rant| %>
    <li><%= rant.about %></li>
    <li><%= link_to rant.rant, user_rants_path, :class => "link" %></li> <%= link_to "Delete", user_rant_path(rant.user_id, rant.id), :class => "delete", :method => :delete %>
  <% end %>
</div>

