<!-- <%= link_to "Logout", signout_path %>


<h1>Welcome <%= current_user.username %>!</h1>

<p>You are logged in successfully.</p>


<%= form_for @rants, %>


<%= link_to "Dashboard" %>
<%= link_to "Following" %>
<%= link_to "Favorites" %>
<%= link_to "Search" %> -->
<%= link_to "Delete" %> 
<%= link_to "Favorite" %>