<h1 style="text-align:center"><%= @rant.about%></h1>
<%= @rant.favorites_count %>
<% unless favorited?(@rant) %>
  <%= link_to "Favorite", user_rant_favorites_path(@user.id, @rant.id), method: :post %>
<% else %>
  <%= link_to "Unfavorite", user_rant_favorite_path(user_id: @user.id, rant_id: @rant.id, id: @favorite.id), method: :delete %>
<% end %>
<hr>

by <%= link_to @user.firstname, user_path(@user.id)  %>
<%= image_tag @user.avatar.url(:thumb), class: 'kittens' %>
<%= @rant.rant %>
<%= @rant.comments.each do |comment| %>
  <%= comment.comment %>
  <%= comment.user.avatar.url(:thumb) %>
<% end %>
<%= form_for [@user, @rant, @comment] do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors"><%= error %></div>
  <% end %>
  <%= f.text_field :comment, autofocus: true %>
  <%= f.submit "RANT BACK" %></div>
<% end %>
