<header>
  <aside class="logo"><%= link_to "Rant.ly", dashboard_path(@user.id), :class => "logo" %></aside>
  <main class="links">
  <nav class="join">
    <div class ="join_vertical"><%= link_to "Dashboard", dashboard_path(@user.id, @rant), :class => "dashboard_button"%></div>
    <div class ="join_vertical"><%= link_to  "Following", user_follows_path(current_user.id), :class => "dashboard_button" %></div>
    <div class ="join_vertical"><%= link_to "Favorites", :class => "dashboard_button" %></div>
    <div class="join vertical"><%= link_to "Search", :class => "dashboard_button" %></div>
    <%= link_to "LOGOUT".html_safe, signout_path, :class => "green" %>
  </nav>
  </main>
</header>
