<!DOCTYPE html>
<html>
<head>
  <title>Rant.ly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <aside class="logo"><%= link_to "Rant.ly", dashboard_path(current_user.id), :class => "logo" %></aside>
  <main class="links">
    <nav class="join">
      <div class ="join_vertical"><%= link_to "Dashboard", admins_path, :class => "dashboard_button"%></div>
      <div class ="join_vertical"><%= link_to  "Rants", admins_rants_path, :class => "dashboard_button" %></div>
      <div class ="join_vertical"><%= link_to "Users", admins_users_path, :class => "dashboard_button" %></div>
      <%= link_to "LOGOUT".html_safe, signout_path, :class => "green" %>
    </nav>
  </main>
</header>
<%= yield %>
</body>
</html>



