<!DOCTYPE html>
<html>
<head>
  <header>
    <aside class="logo"><%= link_to "Rant.ly", root_path %></aside>
    <main class="links">
    </main>
    <nav class="join">
      <%= link_to "Dashboard", dashboard_path(@user.id) %> <%= link_to "Following", user_follows_path(@user.id) %> <%= link_to "Favorites" %> <%= link_to "Search" %>
      <%= link_to "Logout".html_safe, signout_path, :class => "green" %>
    </nav>
  </header>
  <title>Rant.ly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= yield %>
</body>
</html>