<!DOCTYPE html>
<html>
<head>
  <title>Rant.ly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="user">
  <br>

  <div class="style"><%= link_to current_user.username, edit_user_path(@user), :class => "userlink" %></div>
  <%= image_tag current_user.url %>


  <ul>
    <%= render 'rants/form' %>
  </ul>
</div>
<%= yield %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
</body>
</html>

